#editProfileBody{
	background-color: #C0C0C0;
	width: 100%;
	height: auto;
	align-item:center;
	display: inline-block;
}
span{
	width: 200px;
	display: inline-block;
}
input{
	font-size: 15px;
	padding-left: 15px;
}
input:hover, input:focus, textarea:hover, textarea:focus{
	-moz-box-shadow: 0px 2px 5px #37e674;
	-webkit-box-shadow: 0px 2px 5px #37e674;
	box-shadow: 0px 2px 5px #37e674;
}
textarea{
	width: 270px;
	height: 60px;
	resize:none;
	font-size: 15px;
	padding-top: 17px;
	padding-left: 15px;
}
#btnSave{
	position: relative;
	left: 300px;
	width: 150px;
	height: 60px;
	letter-spacing: 3px;
	font-weight: bolder;
	font-size: 15px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	margin: 10px;
}
#btnSave:hover{
	background-color: #EBEBFC;
	border-radius: 5px;
}

	/*profile details*/

#editProfileContainer{
	margin:auto;
	padding: 0px 30px 30px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 550px;
	height: auto;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow: 0px 2px 5px #000000;
}
#editProfileContainer>h1{
	text-align: center;
}
#editProfileDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 35px;
}
#txtFirstname, #txtMiddlename, #txtLastname, #txtContact, #txtEmailAdd{
	height: 40px;
	width: 270px;
}
#sltday{
	margin-left: 15px;
	margin-right: 15px;
}


	/*education*/

#editEducationContainer{
	margin:auto;
	padding: 0px 30px 30px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 550px;
	height: auto;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow: 0px 2px 5px #000000;
}
#editEducationContainer>h1{
	text-align: center;
}
#editEducationDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 35px;
}
#txtCourse, #txtCollege, #txtHighSchool, #txtElementary, #txtAchievementDateCollege, #txtAchievementDateHighSchool, #txtAchievementDateElementary{
	height: 40px;
	width: 270px;
}

/*Experience*/

#editExperienceContainer{
	margin:auto;
	padding: 0px 30px 30px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 550px;
	height: auto;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow: 0px 2px 5px #000000;
}
#editExperienceContainer>h1{
	text-align: center;
}
#editExperienceDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 35px;
}
#companyName, #companyAddress, #dateStart, #dateEnd{
	height: 40px;
	width: 270px;
}

/*skill*/
#editSkillContainer{
	margin:auto;
	padding: 0px 30px 30px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 550px;
	height: auto;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow: 0px 2px 5px #000000;
}
#editSkillContainer>h1{
	text-align: center;
}
#editSkillDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 35px;
}
/*footer*/
#footer{
	text-align: center;
	background-color: #092444;
	height: 180px;
	color: #909AA7;
}
#footer>p>a>img{
	height: 60px;
	width: 60px;
	padding: 40px 40px 10px 40px;
}

/*menu*/
#homeContainer{
	background-color: #bf5c71;
	margin: 0px;
	height: auto;
	display:flex;
/*	margin: 0;
	padding: 0;
	font-size: 15px;*/
}
#homeLogo{
	height: 160px;
	width: auto;
}
#nameContainer {
	color: #fff;
}
#nameContainer>p{
	position: relative;
	left: 950px;
	top: -32px;
	padding-left: 20px;
	font-size: 20px;
	text-transform: uppercase;
}
#nameContainer>img{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	position: relative;
	left: 650px;
	top: 40px;
}
#nameContainer>input{
	position: relative;
	left: 600px;
	top: 20px;
	height: 40px;
	width:230px; 
	border-radius: 5px;
	padding: 5px;
}


/*menu*/
#menu{
	position: relative;
	right: 320px;
	top: 32px;
}
#menu ul{
	margin: 0;
	padding: 0;

}
#menu ul li{
	display: inline-block;
	list-style-type: none;
}
#menu ul li:hover{
	background-color: #AEA1A1;
}
#menu > ul > li {
    color: #fff;
    line-height: 40px;
    padding: 18px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
#menu li > #subMenu1 li{
	color: #6b2525;;
	display: block;
	line-height: 40px;
	text-decoration: none;
	padding: 7px 30px 7px 30px;
	background-color: #dbc0c0;
	width: 90px;
}
#menu li > #subMenu2 li{
	color: #6b2525;;
	display: block;
	line-height: 40px;
	text-decoration: none;
	padding: 7px 30px 7px 30px;
	width: 360px;
	background-color: #dbc0c0;
}
#subMenu1{
	visibility: hidden;
	position: absolute;
	display: block;
	padding: 10px 10px 10px 10px;
	left: 100px;
}
#subMenu2{
	visibility: hidden;
	position: absolute;
	display: block;
	padding: 10px 10px 10px 10px;
	left: 258px
}
#menu li:hover > #subMenu1{
	visibility: visible;
}
#menu li:hover > #subMenu2{
	visibility: visible;
}
#menu li > #subMenu1 li:hover{
	background-color: #AEA1A1;
}
#menu li > #subMenu2 li:hover{
	background-color: #AEA1A1;
}



#logo{
	background-color: #ccc;
	height: 150px;
	width: auto;
}
#logo>img{
	width: auto;
}