#body{
	background-image: url("http://www.publicdomainpictures.net/pictures/130000/nahled/fine-blue-background-pattern.jpg");
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	align-item:center;
	display: inline-flex;
}
#login{
	margin:auto; 
	padding-top: 30px;
	padding-bottom:0; 
	text-align: center;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 550px;
	height: 250px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow: 0px 2px 5px #000000;
}
#btn{
	position: relative;
	left: 140px;
	width: 120px;
	height: 60px;
	margin-bottom: 50px;
	letter-spacing: 5px;
	font-weight: bolder;
	font-size: 20px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	margin-top: 10px;
}
#btn:hover{
	background-color: #EBEBFC;
	border-radius: 5px;
}
#btn>input{
	position: relative;
	left: 130px;
	padding: 15px 50px;
	border: none;
	border-radius: 5px;
	margin-bottom: 45px;
	margin-top: 15px;
}
#username, #password{
	padding-left: 15px;
	width: 300px;
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	border:none;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
}
span{
	width: 100px;
	display:inline-block;
}
input:hover, input:focus{
	-moz-box-shadow: 0px 2px 5px #37e674;
	-webkit-box-shadow: 0px 2px 5px #37e674;
	box-shadow: 0px 2px 5px #37e674;
}
a{
	color: #957A7A;
}
