body{
	font-family   : sans-serif;
	letter-spacing: 1px;
}
#homeLogo{
	height: 160px;
	width : auto;
}
/*body*/
#bodyContainer{
	width : auto;
	height: auto;
}
#bodyContainer>div{
	margin-left       : auto;
	margin-right      : auto;
	border            : 1px solid #ccc;
	width             : auto;
	height            : auto;
	-moz-box-shadow   : 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow        : 0px 0px 0px 3px #c6c6c6;
	border-radius     : 5px;
	margin-top        : 50px;
	margin-bottom     : 50px;
}
#bodyContainer>div>h2{
	text-align: center;
}
#bodyContainer>div>div:nth-of-type(1){
	height       : auto;
	width        : auto;
	margin-left  : auto;
	margin-right : auto;
	padding-left : 20px;
	padding-right: 20px;
	border-radius: 5px;
	margin-bottom: 50px;
	margin-top   : 50px;
}
#bodyContainer>div>div:nth-of-type(1)>table{
	border-spacing: 0px;
	margin-left   : auto;
	margin-right  : auto;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr>th{
	text-align  : left;
	padding-left: 20px;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr>th:nth-of-type(1){
	width: 175px;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr>th:nth-of-type(2){
	width: 275px;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr>th:nth-of-type(3){
	width: 250px;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr>th:nth-of-type(4){
	width: 350px;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr>td{
	padding-left: 30px;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr>td:nth-of-type(5)>img{
	height : 80px;
	padding: 8px;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr:nth-of-type(even):hover,
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr:nth-of-type(odd):hover{
	background-color: #ededed;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr:nth-of-type(even){
	background-color: #e0e0e0;
}
#bodyContainer>div>div:nth-of-type(1)>table>tbody>tr:nth-of-type(odd){
	background-color: #fff;
}

#bodyContainer>div>div:nth-of-type(2){
	display      : inline-flex;
	width        : auto;
	margin-top   : -20;
	margin-bottom: 20;
	margin-left  : 40px;
	margin-right : 40px;
}
#bodyContainer>div>div:nth-of-type(2) input{
	font-size    : 15px;
	padding-left : 15px;
	margin-top   : 30px;
	margin-bottom: 30px;
}
#bodyContainer>div>div:nth-of-type(2) button{
	margin-left  : 850px;
	width        : 240px;
	height       : 80px;
	border-radius: 10%;
	border       :0;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus{
	box-shadow: 0px 2px 5px #444648;
}
button:hover{
	box-shadow: 0px 2px 5px #908e8e;
}