body{
	background-color: #c0c0c0;
	font-family: sans-serif;
	letter-spacing: 1px;
}
#homeContainer{
	background-color: #bf5c71;
	margin: 0px;
	height: 50px;
	display:flex;
	width: auto;
}
#homeLogo{
	height: 160px;
	width: auto;
}
#nameContainer {
	display: inline-flex;
	color: #fff;
	margin-left: 200px;
	width: auto;
}
#nameContainer>p{
	font-size: 15px;
	text-transform: uppercase;
	margin: 17px 30px 17px 30px;
}
#nameContainer>img{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-left: 60px;
	margin-top: 5px;

}
#nameContainer>input{
	height: 30px;
	width:230px; 
	border-radius: 5px;
	padding: 5px;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: 50px;
}


/*menu*/
#menuContainer{
	width: auto;
	height: 20px;

}
#menu ul{
	margin: 0;
	padding: 0;

}
#menu ul li{
	display: inline-block;
	list-style-type: none;
	font-size: 18px;
}
#menu ul li:hover{
	background-color: #AEA1A1;
}
#menu > ul > li {
    color: #fff;
    line-height: 50px;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
#menu li > #subMenu1 li{
	color: #6b2525;;
	display: block;
	line-height: 40px;
	text-decoration: none;
	padding: 7px 30px 7px 30px;
	background-color: #dbc0c0;
	width: 260px;
	margin-left: 7px;
}
#menu li > #subMenu2 li{
	color: #6b2525;;
	display: block;
	line-height: 40px;
	text-decoration: none;
	padding: 7px 30px 7px 30px;
	width: 260px;
	background-color: #dbc0c0;
	margin-left: 17px;
}
#subMenu1{
	visibility: hidden;
	position: absolute;
	display: block;
	padding: 10px 10px 10px 10px;
	left: 100px;
	margin-top: 10px
}
#subMenu2{
	visibility: hidden;
	position: absolute;
	display: block;
	padding: 10px 10px 10px 10px;
	left: 258px;
	z-index: 1;
}
#menu li:hover > #subMenu1{
	visibility: visible;

}
#menu li:hover > #subMenu2{
	visibility: visible;
}
#menu li > #subMenu1 li:hover{
	background-color: #AEA1A1;
}
#menu li > #subMenu2 li:hover{
	background-color: #AEA1A1;
}
#mainContainer{
	margin: auto;
	margin-top: 120px;
	width: 1000px;
	background-color: #fff;
	-moz-box-shadow: 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow: 0px 2px 5px #000000;
}
#mainContainer>a>img{
	position: relative;
	bottom: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
	border:3px solid #fff;
	box-shadow: 0px 2px 5px #000000
}
span{
	width: 200px;
	display: inline-block;
}
#btnEdit{
	position: relative;
	left: 450px;
	width: 150px;
	height: 60px;
	letter-spacing: 3px;
	font-weight: bolder;
	font-size: 15px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	margin: 10px;
	text-transform: uppercase;
}
#btnEdit:hover{
	background-color: #EBEBFC;
	border-radius: 5px;
}
#imgIcon{
	width: 100%;
	display: inline-flex;
	justify-content:center;
	margin-top: 20px;
	background-color: #17216E;
	margin-bottom: 20px;
}
#imgSkill, #imgExperience, #imgEducation{
	width: 100px;
	height: 100px;
	padding-right: 80px;
}

/*profile details*/

#profileContainer{
	margin:auto;
	margin-top:50px;
	padding: 0px 30px 0px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 850px;
	height: auto;
	border-radius: 5px;
}
#profileDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 160px;
	margin-top: -100px;
}

/*education*/

#educationContainer{
	margin:auto;
	margin-top:50px;
	padding: 0px 30px 0px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 850px;
	height: auto;
	border-radius: 5px;
}
#educationDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 160px;
	margin-top: -100px;
}

/*experience*/

#experienceContainer{
	margin:auto;
	margin-top:50px;
	padding: 0px 30px 0px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 850px;
	height: auto;
	border-radius: 5px;
}
#experienceDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 160px;
	margin-top: -100px;
}

/*skill*/

#skillContainer{
	margin:auto;
	margin-top:50px;
	padding: 0px 30px 0px 30px;
	font-family:sans-serif;
	background-color: #FFFFFF;
	width: 850px;
	height: auto;
	border-radius: 5px;
}
#skillDetails{
	border:1px solid #C0C0C0;
	border-radius: 5px;
	padding: 10px 10px 10px 160px;
	margin-top: -100px;
}

/*footer*/
#footerContainer{
	width: auto;
	height: auto;
	background-color: #C8CDD4;
	text-align: center;
/*	margin-top: -18px;
	text-align: center;*/
	color: #727C8A;
}
#footerContainer>div:first-child{
	display: inline-flex;
	width: 100%;
}
#footerContainer>div:first-child>div{
	text-align: left;
	margin: 25 100px 25 150px;
	height: 200px;
	letter-spacing: 2px;
	width: 200px;
}
.spanLine{
	border-right: 1px solid #B5B6DB;
	margin-top: 40px;
	margin-bottom: 40px;
}
#footerContainer>div:last-child{
	background-color: #8B929C;
	height: 75px;
	color: #d7d7d7;
	text-align: center;
}
#footerContainer>div:last-child>p{
	padding-top: 25px;
}