body{
	background-color: #fff;
	font-family     : sans-serif;
	letter-spacing  : 1px;
}
#homeLogo{
	height: 160px;
	width : auto;
}
#bodyContainer{
	background-color: #fff;
	width           : 100%;
	height          : auto;
	display         : inline-block;
	padding-top     : 20px;

}
#bodyContainer>div{
	margin            :auto;
	margin-bottom     : 40px;
	padding           : 0px 30px 30px 30px;
	font-family       :sans-serif;
	background-color  : #FFFFFF;
	width             : 550px;
	height            : auto;
	border-radius     : 5px;
	border            : 1px solid #ccc;
	-moz-box-shadow   : 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow        : 0px 0px 0px 3px #c6c6c6;
}
#bodyContainer>div>h1{
	text-align: center;
}
#bodyContainer>div>div{
	border       :1px solid #C0C0C0;
	border-radius: 5px;
	padding      : 10px 10px 10px 35px;
}
#bodyContainer>div>div>span{
	position      : relative;
	left          : 35px;
	bottom        : 20px;
	background    : #fff;
	width         : 150px;
	text-align    : center;
	font-size     : 15px;
	letter-spacing: 5px;
}
#bodyContainer>div>div>p span{
	width  : 200px;
	display: inline-flex;

}
#bodyContainer>div>div>p input{
	font-size   : 15px;
	padding-left: 15px;
}
#bodyContainer>div>div>p textarea{
	width       : 270px;
	height      : 60px;
	resize      :none;
	font-size   : 15px;
	padding-top : 17px;
	padding-left: 15px;
}
#txtFirstname, #txtMiddlename, #txtLastname, #txtContact, #txtEmailAdd{
	height: 40px;
	width : 270px;
}
#sltday{
	margin-left : 25px;
	margin-right: 25px;
}
/*education*/
#bodyContainer>div>div:nth-of-type(2){
	margin-top: 50px;
}
#txtCourse, #txtCollege, #txtHighSchool, #txtElementary, #txtAchievementDateCollege, #txtAchievementDateHighSchool, #txtAchievementDateElementary{
	height: 40px;
	width : 270px;
}
/*skill*/
#bodyContainer>div>div:nth-of-type(3){
	margin-top:50px;
}
/*experience*/
#bodyContainer>div>div:nth-of-type(4){
	margin-top: 50px;
}
#companyName, #companyAddress, #dateStart, #dateEnd{
	height: 40px;
	width : 270px;
}
#bodyContainer>div>div:nth-of-type(5){
	border:0;
}
#bodyContainer>div>div:nth-of-type(5) button{
	position      : relative;
	left          : 180px;
	width         : 150px;
	height        : 60px;
	letter-spacing: 3px;
	font-weight   : bolder;
	font-size     : 15px;
	border        : 1px solid #C0C0C0;
	border-radius : 5px;
	margin        : 10px;
}
#bodyContainer>div>div:nth-of-type(5) button:hover{
	background-color: #EBEBFC;
	border-radius   : 5px;
}
input:hover, input:focus{
	-moz-box-shadow   : 0px 2px 5px #37e674;
	-webkit-box-shadow: 0px 2px 5px #37e674;
	box-shadow        : 0px 2px 5px #37e674;
}
button:hover{
	box-shadow: 0px 2px 5px #908e8e;
}