body{
	font-family   : sans-serif;
	letter-spacing: 1px;
}
#homeLogo{
	height: 160px;
	width : auto;
}
/*body*/
#bodyContainer{
	width : auto;
	height: auto;
}
#bodyContainer>div:nth-of-type(1){
	margin-top: 50px;
	display   : inline-flex;
	width     : 100%;
	height    : auto;
}
#bodyContainer>div:nth-of-type(1) p{
	margin:auto;
}
#bodyContainer>div:nth-of-type(1) span, #bodyContainer>div:nth-of-type(1) input{
	height   : 40px;
	width    : 240px;
	font-size: 25px;
}
#bodyContainer>div:nth-of-type(2){
	margin-left       : auto;
	margin-right      : auto;
	border            : 1px solid #ccc;
	width             : auto;
	height            : auto;
	-moz-box-shadow   : 0px 2px 5px #aaf7c5;
	-webkit-box-shadow: 0px 2px 5px #aaf7c5;
	box-shadow        : 0px 0px 0px 3px #c6c6c6;
	border-radius     : 5px;
	margin-top        : 50px;
	margin-bottom     : 50px;
}
#bodyContainer>div:nth-of-type(2)>h2{
	text-align: center;
}

#bodyContainer>div:nth-of-type(2)>div{
	height       : auto;
	width        : auto;
	margin-left  : auto;
	margin-right : auto;
	padding-left : 20px;
	padding-right: 20px;
	border-radius: 5px;
	margin-bottom: 50px;
	margin-top   : 50px;

}
#bodyContainer>div:nth-of-type(2)>div>table{
	margin-left : auto;
	margin-right: auto;
	border-spacing: 0px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr>th{
	text-align  : left;
	padding-left: 20px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr>td{
	padding-left: 30px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr>th:nth-of-type(1){
	width       : 175px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr>th:nth-of-type(2){
	width       : 275px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr>th:nth-of-type(3){
	width       : 250px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr>th:nth-of-type(4){
	width       : 200px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr>td img{
	height : 80px;
	padding: 8px;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr:nth-child(even):hover,
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr:nth-child(odd):hover{
	background-color: #ededed;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr:nth-child(even){
	background-color: #e0e0e0;
}
#bodyContainer>div:nth-of-type(2)>div>table>tbody>tr:nth-child(odd){
	background-color: #fff;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus{
	box-shadow: 0px 2px 5px #444648;
}
button:hover{
	box-shadow: 0px 2px 5px #908e8e;
}